body {
  font-family: 'Roboto', sans-serif, Arial, Helvetica;
	background-color: #eee;
}


/* =======CONTAINERS======= */

.wrapper {
	margin: 0 auto;
	padding: 5px 32px;
	width: 1080px;
}

.navigation { 
	background-color: #fff;
	height: 50px;
	line-height: 50px;
 }

.sidebar {
	margin: 10px 0;
	padding: 15px;
	width: 400px;
	min-height: 800px;
	float: right;
	background-color: #fff;
	box-shadow: 0 0 1px 1px #ddd;

}

.main-content {
	float: left;
	width: 640px;
	margin: 10px 2.5px;
}


.content-box {
	padding: 15px;
	margin-top: 10px;
	min-height: 135px;
	background-color: #fff;
	box-shadow: 0 0 1px 1px #ddd;
}


/* ========CONTENT======= */


.video-description {
	padding: 15px;
}

.video-title {
	font-size: 20px;
	width: 460px;
}

.account-info {
	width: 100%;
	padding: 10px 0 0 0;
}

.deepmind-title {
	padding-top: 5px;
}


.deepmind {
	margin: 0;
	padding: 0;
	width: 50px;
}

.views {
	margin-top: 15px;
	vertical-align: baseline;
	color: #777;
	font-size: 19px;
}

.likes {
	margin-top: -15px;
	padding-top: 10px;
	border-top: 2px solid blue;
}


.subscribe-container {
	margin-left: 60px;
	height: 24px;
}


.more-button {
	width: 100px;
	margin: 0 auto;
}



/* =======RE-USABLE======= */

/* ICONS/LOGOS */ 

.subscribe {
	margin-top: 5px;
	width: 90px;
	height: 24px;
	background: url("../img/subscribe.png");
	background-size: cover;
	border: none;
	padding: 0;
}

.subscribe-count {
	display: inline-block;
	margin-top: 5px;
	padding: 0 7px 0 7px;
	height: 22px;
	border: 1px solid #ccc;
	border-left: none;
	line-height: 22px;

}


.youtube {
	background: url('../img/sprite.png') -299px 0;
	margin-top: 10px;
	width: 71px;
	height: 30px;
}

.add:before {
	background: url('../img/sprite.png') -352px -119px;
	content: " ";
	display: inline-block;
	vertical-align: middle;width: 17px;
	height: 17px;
	margin-right: 7.5px;
	opacity: 0.5;
}

.share:before {
	background: url('../img/sprite.png') no-repeat -183px -45px;
	width: 18px;
	height: 16px;
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-right: 7.5px;
	opacity: 0.5;
}

.more:before {
	background: url('../img/sprite.png') no-repeat -43px -192px;
	width: 18px;
	height: 4px;
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-right: 7.5px;
	opacity: 0.5;

}

.thumbs-up:before {	
	background: url('../img/sprite.png') no-repeat -377px -56px;
	width: 17px;
	height: 17px;
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-right: 7.5px;
	opacity: 0.5;
}

.thumbs-down:before {	
	background: url('../img/sprite.png') no-repeat -630px -296px;
	width: 17px;
	height: 17px;
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-right: 7.5px;
	opacity: 0.5;
}


/* FONTS */ 


.line-height-12 {
		line-height: 1.2em;
}

.font-weight {
	font-weight: 500;
}

.font-large {
	font-size: 14px;

}

.font-description {
	font-size: 13px;
	line-height: 1.25em;

}

.font-medium {
	font-size: 12px;
}




.font-small {
	font-size: 11px;
}


/* COLORS */ 

.color-views {
	color: #777;
}



/* HELPER CLASSES */ 

.center {
	text-align: center;
}

.round {
	border-radius: 100%;
}

.no-bg {
	background: none;
}

.line {
	height: 1px;
	background-color: #ccc;
	border: none;
}

.borderless {
	border: none;
}

.nav-margins {
	margin: 10px 15px 15px 50px;
}


.margin-top-10 {
	margin-top: 10px;
}

.margin-bottom {
	margin-bottom: 17.5px
}
.width-icon {
	width: 50px;
}

.options {
	padding-top: 5px;
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline; 
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}


.width-1 {
	width: 100%;
}

.width-100 {
	width: 100px;
}

.width-75 {
	width: 75px;
}

.width-50 {
	width: 50px;
}









/* =======NAVIGATION======= */


.logo {
	height: 50px;
}

.menu-icon { 
	background: url('../img/sprite.png') no-repeat -84px -3px;
	margin: 20px 1.5em 0 2.5em;
	width: 13px;
	height: 10px;
 }


#searchbox {
	width: 60%;
	float: left;
	margin-left: 100px;
}

.search {
	width: 90%;
	height: 30px;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
}

.search-button {
	width: 10%;
	height: 30px;
	margin: 0 0 0 -5px;
	padding: 0;
	border: 1px solid #ccc;
	background: #eee;
}

.search-icon {
	margin: 0 auto;
	background: url('../img/sprite.png') no-repeat -647px -24px;
	width: 15px;
	height: 15px;
	display: inline-block;
	text-indent: -10000px;

}


.search::-webkit-input-placeholder {
	padding-left: 5px;
	font-size: 16px;
}

.search::-moz-placeholder {
	padding-left: 5px;
	font-size: 16px;
}

.search::-ms-placeholder { 
	padding-left: 5px;
	font-size: 16px;
 }


.upload {
	margin: 16.5px 1em 0 ;
	background: url('../img/sprite.png') no-repeat -5px -78px;
	width: 14px;
	height: 17px;
}

.bell {
	margin: 14.5px 1em 0 ;
	background: url('../img/sprite.png') no-repeat -486px -54px;
	width: 17px;
	height: 20px;
}

.gmail {
	margin: 11.5px 2em 0 1em;
	background: url('../img/gmail.jpg') no-repeat;
	background-size: contain;
	width: 25px;
	height: 25px;
	border-radius: 100%;
}



/* =======SIDEBAR======= */

.sidebar-title {
	height: 25px;
	line-height: 25px;
}

.autoplay-text {
	margin-left: 15px;
}

.autoplay-button {
	background: url('../img/autoplay.png') no-repeat;
	background-size: contain; 
	margin-top: 1.5px;
	width: 40px;
	height: 20px;
}

.info {
	background: url('../img/sprite.png') no-repeat -603px -108px;
	margin: 6px 7.5px 0 7.5px;
	width: 12px;
	height: 12px;

}





.watch-sidebar {
	margin-top: 15px;
}

.sidebar-video {
	margin: 0;
	width: 40%;
}

.sidebar-description {
	padding-right: 15px;
	width: 210px;
}

.sidebar-description > h6, 
.sidebar-description > h5 {
	padding-top: 5px;
}